torch==1.8.1
pytorch-lightning==1.4.9
entmax==1.0
h5py==2.10.0
networkx==2.4
nltk==3.4.5
transformers==4.11.3
beautifulsoup4==4.9.3
lxml
python-levenshtein
scikit-learn
progressbar2
pydash
stanza
torchtext
datasets
ipywidgets
tensorboard
torch_optimizer